/node_modules/
/lib/
/test/
custom-elements.json

# top level source
shell-script.js
shell-script.js.map
shell-script.d.ts
shell-script.d.ts.map

# generated for size check and in docs
#shell-script.bundled.js